<mat-form-field>
  <mat-select placeholder="Profiles" [(ngModel)]="selectedProfile"> 
    <mat-option *ngFor="let profile of profiles" [value]="profile">
      {{profile.id}}: {{profile.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
  <button mat-raised-button color="warn" (click)="deleteProfile()">Delete</button>
  <br/>
<mat-form-field>
  <input matInput placeholder="ID" #id>
</mat-form-field>
<br/>
<mat-form-field>
  <input matInput placeholder="Name" #name>
</mat-form-field>
<button mat-raised-button color="primary" (click)="addProfile(id.value, name.value)">Add</button>

  <mat-grid-list cols="4" gutterSize="20px" style="width:80%;height:50%;overflow:auto">
   <mat-grid-tile *ngFor="let profile of profiles">
      <app-profile-cards [profile]="profile"></app-profile-cards>
    </mat-grid-tile>
  </mat-grid-list>
